.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Calibri;
  font-size: 24px;
}
.card{
  border: 2px solid black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}


